<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtmer.yisanbang.mapper.BusinessAddressMapper">
  <resultMap id="BaseResultMap" type="com.vtmer.yisanbang.domain.BusinessAddress">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="address_name" jdbcType="VARCHAR" property="addressName" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="contact_name" jdbcType="VARCHAR" property="contactName" />
    <result column="is_default" jdbcType="BIT" property="isDefault" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from business_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.vtmer.yisanbang.domain.BusinessAddress">
    insert into business_address (address_name, phone_number,
      contact_name, is_default)
    values (#{addressName,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR},
      #{contactName,jdbcType=VARCHAR}, #{isDefault,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.vtmer.yisanbang.domain.BusinessAddress">
    update business_address
    set address_name = #{addressName,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      contact_name = #{contactName,jdbcType=VARCHAR},
      is_default = #{isDefault,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, address_name, phone_number, contact_name, is_default, create_time, update_time
    from business_address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, address_name, phone_number, contact_name, is_default, create_time, update_time
    from business_address
  </select>
  <select id="checkEmpty" resultType="java.lang.Integer">
    select count (*) from business_address
  </select>
</mapper>