<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtmer.yisanbang.mapper.CarouselMapper">
  <resultMap id="BaseResultMap" type="com.vtmer.yisanbang.domain.Carousel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="picture_path" jdbcType="VARCHAR" property="picturePath" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="show_order" jdbcType="INTEGER" property="showOrder" />
    <result column="is_show" jdbcType="BIT" property="isShow" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from carousel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.vtmer.yisanbang.domain.Carousel">
    insert into carousel (id, picture_path, url, 
      show_order, is_show, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{picturePath,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{showOrder,jdbcType=INTEGER}, #{isShow,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.vtmer.yisanbang.domain.Carousel">
    update carousel
    set picture_path = #{picturePath,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      show_order = #{showOrder,jdbcType=INTEGER},
      is_show = #{isShow,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, picture_path, url, show_order, is_show, create_time, update_time
    from carousel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, picture_path, url, show_order, is_show, create_time, update_time
    from carousel
    order by show_order asc
  </select>
  <update id="updateAd2Show" parameterType="java.lang.Integer">
    update carousel
    set is_show = 1
    where id = #{carouselId}
  </update>
  <update id="updateAd2UnShow" parameterType="java.lang.Integer">
    update carousel
    set is_show = 0
    where id = #{carouselId}
  </update>
  <insert id="insertCarouselInfo" parameterType="com.vtmer.yisanbang.dto.CarouselDTO">
    insert into carousel (picture_path, url, show_order, is_show)
    values (#{picturePath}, #{url}, #{showOrder}, #{isShow})
  </insert>
  <select id="selectExitedOrder" resultType="java.lang.Integer">
    select show_order
    from carousel
  </select>
  <update id="updateCarouselInfoSelective" parameterType="com.vtmer.yisanbang.dto.CarouselDTO">
    update carousel
    <set>
      <if test="picturePath != null">
        picture_path = #{picturePath},
      </if>
      <if test="url != null">
        url = #{url},
      </if>
      <if test="showOrder != null">
        show_order = #{showOrder},
      </if>
      <if test="isShow != null">
        is_show = #{isShow},
      </if>
    </set>
    where id = #{id}
  </update>
</mapper>