<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtmer.yisanbang.mapper.CollectionMapper">
<!--  <cache type="com.vtmer.yisanbang.common.RedisCache"/>-->
  <sql id="BaseCondition">
    <if test="userId!=null">
      and user_id = #{userId}
    </if>
    <if test="goodsId!=null">
      and goods_id = #{goodsId}
    </if>
    <if test="whetherGoods!=null">
      and is_goods = #{whetherGoods}
    </if>
  </sql>
  <resultMap id="BaseResultMap" type="com.vtmer.yisanbang.domain.Collection">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="is_goods" jdbcType="TINYINT" property="whetherGoods" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from collection
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.vtmer.yisanbang.domain.Collection">
    insert into collection ( user_id, goods_id, is_goods )
    values (#{userId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{whetherGoods,jdbcType=TINYINT} )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.vtmer.yisanbang.domain.Collection">
    update collection
    set user_id = #{userId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      is_goods = #{whetherGoods,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, goods_id, is_goods, create_time, update_time
    from collection
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, goods_id, is_goods, create_time, update_time
    from collection
  </select>
  <select id="checkExist" resultType="java.lang.Boolean">
    select count(id) from collection
    where 1=1
    <include refid="BaseCondition"/>
  </select>
  <select id="selectAllByUserId" resultMap="BaseResultMap">
    select id,goods_id,is_goods from collection
    where user_id = #{userId}
    order by create_time DESC
  </select>
  <select id="selectByDTO" resultMap="BaseResultMap">
    select id,goods_id,is_goods from collection
    where goods_id = #{goodsId}
    and is_goods = #{whetherGoods}
  </select>
</mapper>