<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtmer.yisanbang.mapper.IncomeMapper">
  <resultMap id="BaseResultMap" type="com.vtmer.yisanbang.domain.Income">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="total_amount" jdbcType="INTEGER" property="totalAmount" />
    <result column="total_price" jdbcType="DOUBLE" property="totalPrice" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from income
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.vtmer.yisanbang.domain.Income">
    insert into income ( total_amount, total_price)
    values ( #{totalAmount,jdbcType=INTEGER}, #{totalPrice,jdbcType=DOUBLE})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.vtmer.yisanbang.domain.Income">
    update income
    set total_amount = #{totalAmount,jdbcType=INTEGER},
      total_price = #{totalPrice,jdbcType=DOUBLE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, total_amount, total_price, create_time, update_time
    from income
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, total_amount, total_price, create_time, update_time
    from income
  </select>
</mapper>