<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtmer.yisanbang.mapper.OrderMapper">
  <sql id="BaseColumnList">
    id, order_number, user_id, user_name, phone_number, total_price, address_name,
    status,postage,  courier_number, message
  </sql>
  <sql id="OrderCondition">
    <if test="userId!=null">
      and user_id = #{userId}
    </if>
    <if test="status!=null">
        <if test="status!=3">
            and status = #{status}
        </if>
        <if test="status==3">
            and status in (3,6,7)
        </if>
    </if>
  </sql>
  <resultMap id="BaseResultMap" type="com.vtmer.yisanbang.domain.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="total_price" jdbcType="DOUBLE" property="totalPrice" />
    <result column="address_name" jdbcType="VARCHAR" property="addressName" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="postage" jdbcType="DOUBLE" property="postage"/>
    <result column="courier_number" jdbcType="VARCHAR" property="courierNumber" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `order`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert"
          parameterType="com.vtmer.yisanbang.domain.Order"
          useGeneratedKeys="true"
          keyProperty="id">
    insert into `order` (order_number, user_id,
      user_name, phone_number, total_price, 
      address_name, message, postage)
    values ( #{orderNumber,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER},
      #{userName,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, #{totalPrice,jdbcType=DOUBLE}, 
      #{addressName,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, #{postage,jdbcType=DOUBLE}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.vtmer.yisanbang.domain.Order">
    update `order`
    set order_number = #{orderNumber,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      total_price = #{totalPrice,jdbcType=DOUBLE},
      address_name = #{addressName,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      postage = #{postage,jdbcType=DOUBLE},
      courier_number = #{courierNumber,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateOrderStatus">
    update `order`
    set status = status + 1
    where id = #{orderId}
  </update>
  <update id="setOrderStatus">
    update `order`
    set status = #{status}
    where id = #{orderId}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, order_number, user_id, user_name, phone_number, total_price, address_name, 
    status, postage, courier_number, message, create_time, update_time
    from `order`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, order_number, user_id, user_name, phone_number, total_price, address_name, 
    status, postage, courier_number, message, create_time, update_time
    from `order`
  </select>
  <select id="selectAllByUserIdAndStatus" resultType="com.vtmer.yisanbang.domain.Order">
    select
    <include refid="BaseColumnList"></include>
    from `order`
    where 1 = 1
    <include refid="OrderCondition"></include>
    order by update_time DESC
  </select>
  <select id="selectAllByUserId" resultType="com.vtmer.yisanbang.domain.Order">
    select
    <include refid="BaseColumnList"></include>
    from `order`
    <if test="userId!=null">
      where user_id = #{userId}
    </if>
    order by update_time DESC
  </select>
  <select id="selectByOrderNumber" resultType="com.vtmer.yisanbang.domain.Order">
    select
    <include refid="BaseColumnList"></include>
    from `order`
    where order_number = #{orderNumber}
  </select>
</mapper>