<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtmer.yisanbang.mapper.RolePermiMapper">
  <cache type="com.vtmer.yisanbang.common.RedisCache"/>
  <resultMap id="BaseResultMap" type="com.vtmer.yisanbang.domain.RolePermi">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="permi_id" jdbcType="INTEGER" property="permiId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role_permi
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.vtmer.yisanbang.domain.RolePermi">
    insert into role_permi (id, role_id, permi_id, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{permiId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.vtmer.yisanbang.domain.RolePermi">
    update role_permi
    set role_id = #{roleId,jdbcType=INTEGER},
      permi_id = #{permiId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, role_id, permi_id, create_time, update_time
    from role_permi
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, role_id, permi_id, create_time, update_time
    from role_permi
  </select>
  <select id="selectPermiIdByRoleId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select permi_id
    from role_permi
    where role_id = #{roleId}
  </select>
</mapper>