<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtmer.yisanbang.mapper.SuitDetailMapper">
  <resultMap id="BaseResultMap" type="com.vtmer.yisanbang.domain.SuitDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="suit_id" jdbcType="INTEGER" property="suitId" />
    <result column="pirtuce_path" jdbcType="VARCHAR" property="pirtucePath" />
    <result column="show_order" jdbcType="INTEGER" property="showOrder" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap id="SuitDetailMap" type="com.vtmer.yisanbang.dto.SuitDetailDto">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="suit_id" jdbcType="INTEGER" property="suitId" />
    <result column="pirtuce_path" jdbcType="VARCHAR" property="pirtucePath" />
    <result column="show_order" jdbcType="INTEGER" property="showOrder" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from suit_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.vtmer.yisanbang.domain.SuitDetail">
    insert into suit_detail (id, suit_id, pirtuce_path, 
      show_order, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{suitId,jdbcType=INTEGER}, #{pirtucePath,jdbcType=VARCHAR}, 
      #{showOrder,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.vtmer.yisanbang.domain.SuitDetail">
    update suit_detail
    set suit_id = #{suitId,jdbcType=INTEGER},
      pirtuce_path = #{pirtucePath,jdbcType=VARCHAR},
      show_order = #{showOrder,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, suit_id, pirtuce_path, show_order, create_time, update_time
    from suit_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, suit_id, pirtuce_path, show_order, create_time, update_time
    from suit_detail
  </select>
  <insert id="insertDto" parameterType="com.vtmer.yisanbang.dto.SuitDetailDto">
    insert into suit_detail (id, suit_id, pirtuce_path,
      show_order
      )
    values (#{id,jdbcType=INTEGER}, #{suitId,jdbcType=INTEGER}, #{pirtucePath,jdbcType=VARCHAR},
      #{showOrder,jdbcType=INTEGER}}
      )
  </insert>
  <update id="updateDtoByPrimaryKey" parameterType="com.vtmer.yisanbang.dto.SuitDetailDto">
    update suit_detail
    set suit_id = #{suitId,jdbcType=INTEGER},
      pirtuce_path = #{pirtucePath,jdbcType=VARCHAR},
      show_order = #{showOrder,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectDtoByPrimaryKey" parameterType="java.lang.Integer" resultMap="SuitDetailMap">
    select id, suit_id, pirtuce_path, show_order
    from suit_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllDto" resultMap="SuitDetailMap">
    select id, suit_id, pirtuce_path, show_order
    from suit_detail
  </select>
  <select id="selectAllDtoBySuitId" parameterType="java.lang.Integer" resultMap="SuitDetailMap">
    select id, suit_id, pirtuce_path, show_order
    from suit_detail
    where sort_id = #{sortId,jdbcType=INTEGER}
  </select>
</mapper>