<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vtmer.yisanbang.mapper.UserAddressMapper">
  <resultMap id="BaseResultMap" type="com.vtmer.yisanbang.domain.UserAddress">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="address_name" jdbcType="VARCHAR" property="addressName" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="is_default" jdbcType="BIT" property="isDefault" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap id="UserAddressDtoMap" type="com.vtmer.yisanbang.dto.UserAddressDto">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="user_id" jdbcType="INTEGER" property="userId"/>
    <result column="address_name" jdbcType="VARCHAR" property="addressName"/>
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="is_default" jdbcType="BIT" property="isDefault"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.vtmer.yisanbang.domain.UserAddress">
    insert into user_address (id, user_id, user_name, 
      address_name, phone_number, is_default, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, 
      #{addressName,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, #{isDefault,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.vtmer.yisanbang.domain.UserAddress">
    update user_address
    set user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      address_name = #{addressName,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      is_default = #{isDefault,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, user_name, address_name, phone_number, is_default, create_time, 
    update_time
    from user_address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, user_name, address_name, phone_number, is_default, create_time, 
    update_time
    from user_address
  </select>
  <select id="selectDefaultByUserId" resultType="com.vtmer.yisanbang.domain.UserAddress">
    select id, user_name, address_name, phone_number,is_default from user_address
    where user_id = #{userId}
    and is_default = 1
  </select>
  <insert id="insertDto" parameterType="com.vtmer.yisanbang.dto.UserAddressDto">
    insert into user_address (id, user_id, address_name,
      phone_number, is_default
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{addressName,jdbcType=VARCHAR},
      #{phoneNumber,jdbcType=VARCHAR}, #{isDefault,jdbcType=BIT}
      )
  </insert>
  <update id="updateDtoByPrimaryKey" parameterType="com.vtmer.yisanbang.dto.UserAddressDto">
    update user_address
    set user_id = #{userId,jdbcType=INTEGER},
      address_name = #{addressName,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      is_default = #{isDefault,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectDtoByPrimaryKey" parameterType="java.lang.Integer" resultMap="UserAddressDtoMap">
    select id, user_id, address_name, phone_number, is_default
    from user_address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllByUserId" parameterType="java.lang.Integer" resultMap="UserAddressDtoMap">
    select id, user_id, address_name, phone_number, is_default
    from user_address
    where user_id = #{id,jdbcType=INTEGER}
  </select>
</mapper>